<main class="py-5">
    <section class="mb-5">
      <form [formGroup]="loginForm">
        <div class="container">
          <h3 class="mb-3">Log In</h3>
          <div class="bg-light p-4">
            <div class="row">
              <div class="col-lg-6">
                <label>Email</label>
                <input type="email" formControlName="email" class="form-control">
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                  <p *ngIf="email.errors.required" style="font-size: small; color: red">required</p>
                </div>
              </div>
  
              <div class="col-lg-6">
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control">
                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                  <p *ngIf="password.errors.required" style="font-size: small; color: red">required</p>
                </div>
              </div>
  
            </div>
            <hr class="mb-4">
            <button type="button" class="btn btn-primary" (click)="login()">Log In</button>
          </div>
        </div>
      </form>
    </section>
  </main>