<main class="py-5">
  <section class="mb-5">
    <form [formGroup]="signupForm">
      <div class="container">
        <h3 class="mb-3">Sign Up</h3>
        <div class="bg-light p-4">
          <div class="row">
            <div class="col-lg-4">
              <label>Email</label>
              <input type="email" formControlName="email" class="form-control">
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <p *ngIf="email.errors.required" style="font-size: small; color: red">required</p>
              </div>
            </div>

            <div class="col-lg-4">
              <label>Password</label>
              <input type="password" (change)="setPass($event)" formControlName="password" class="form-control">
              <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <p *ngIf="password.errors.required" style="font-size: small; color: red">required</p>
              </div>
            </div>

            <div class="col-lg-4">
              <label>Confirm Password</label>
              <input type="password" formControlName="confirmPassword" class="form-control">
              <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                <p *ngIf="confirmPassword.errors.required" style="font-size: small; color: red">required</p>
                <p *ngIf="confirmPassword.errors.confirmPassword" style="font-size: small; color: red">passwords doesn't match</p>
              </div>
            </div>

          </div>
          <hr class="mb-4">
          <button type="button" class="btn btn-primary" (click)="signup()">Sign Up</button>
        </div>
      </div>
    </form>
  </section>
</main>